/0.98-3-Validatie-_en_conformiteitsregels_TPOD/src/Validaties/Opdracht
/0.98-3-Validatie-_en_conformiteitsregels_TPOD/src/Validaties_Reparatieset Voorbeeldbestanden/VervangPosLists Met gebruik van GML-snaps van Kasper/Opdracht
