/0.98-3-Validatie-_en_conformiteitsregels_TPOD/src/Validaties/Opdracht
/0.98-3-Validatie-_en_conformiteitsregels_TPOD/src/Validaties_Reparatieset Voorbeeldbestanden/VervangPosLists_GML-snaps_Kasper/Opdracht
/0.98-3-Validatie-_en_conformiteitsregels_TPOD/src/Validaties_Reparatieset Voorbeeldbestanden/Opdracht
/0.98-3-Validatie-_en_conformiteitsregels_TPOD/src/Validaties_Reparatieset Voorbeeldbestanden/VervangPosLists_GML-snaps_Kasper/VervangPoslists.xsl
